/* Step1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px;
gap: 12px;

width: 289px;
height: 322px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Step 1 */

width: 96px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Upload Image */

width: 165px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #5A5555;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Upload */

width: 60px;
height: 60px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 110px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Drag and Drop files */

width: 110px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #716A6A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* OR */

width: 17px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #716A6A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Browse */

width: 43px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #716A6A;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Group 19 */

width: 240px;
height: 60.55px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 34 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px;
gap: 8px;

position: absolute;
width: 240px;
height: 60.55px;
left: 24.5px;
top: 239px;



/* Container */

width: 224px;
height: 44.55px;

background: #F0F0F0;
box-shadow: 0px 2px 6px rgba(13, 10, 44, 0.08);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tick */

position: absolute;
width: 25px;
height: 25px;
left: 203.24px;
top: 257px;

background: url(image.png);


/* Cross */

position: absolute;
width: 25px;
height: 25px;
left: 164.73px;
top: 257px;

background: url(image.png);


/* nepali1.jpg */

position: absolute;
width: 60px;
height: 15px;
left: 60.05px;
top: 262px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

