.bt-1 {
  margin-top: 7rem;
}
p {
  white-space: pre-wrap;
}
.navdiv {
  width: 100%;
  height: 5rem;
  background-color: #022c43;
  margin: 0rem;
}

.navdiv nav {
  height: 100%;
}

.navdiv ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navdiv li {
  margin: 0 1rem;
  width: 3rem;
}

.navdiv a {
  color: white;
  text-decoration: none;
}

.navdiv a:hover,
.navdiv a:active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}

.ninput {
  width: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f1f1f1;
  margin: 0px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #e0e9f5;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: #e0e9f5;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.image-item {
  background-color: #e0e9f5;
}

/* Hero */
.main {
  box-sizing: border-box;
  display: block;
  margin: auto;
  position: relative;
  /* align-items: center; */
  width: 80%;
  height: 85vh;

  background: rgba(83, 54, 80, 0.28);
  border: 1px solid #000000;
}

.lines {
  display: flex;
  align-items: center;
}

.ninput {
  display: block;
  margin: auto;
  margin-top: 2%;
  width: 20%;
}

.image {
  position: relative;
  margin: auto;
  margin-top: 5%;
  cursor: pointer;
}

.btn-submit {
  position: absolute;
  right: 10%;
  float: right;
  top: 1%;
}

.btn-generate {
  position: relative;
  margin-top: 2%;
  float: left;
}

.preview {
  display: flex;
  height: 200px;
  /* width: 80%; */
  justify-content: baseline;
  border-radius: 20px;
  /* height: 25%; */
}

.delete-btn {
  position: absolute;
  width: 40px;
  height: 30px;
  left: 1560px;
  top: 0px;
  cursor: pointer;
}

.box {
  display: block;
  margin: auto;
  box-sizing: border-box;

  margin-top: 5%;
  width: 80%;
  /* overflow-y: auto; */
  text-align: center;
  /* height: 25%; */
  background: #d9d9d9;
  border: 1px dashed #000000;
  border-radius: 20px;
}

.imageform {
  display: block;
  margin: auto;
  box-sizing: border-box;

  margin-top: 5%;
  width: 80%;
  /* overflow-y: auto; */
  text-align: center;
  height: 25%;
  background: #d9d9d9;
  border: 1px dashed #000000;
  border-radius: 20px;
}

.text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.expand {
  display: block;
  margin: auto;
}
